<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BitManipulator" version="1.0.4" targetFramework="net45" />
  <package id="LinqOptimizer.CSharp" version="0.6.3" targetFramework="net45" />
  <package id="Microsoft.Bcl.Immutable" version="1.1.22-beta" targetFramework="net45" />
  <package id="PerfCopy" version="1.2.0" targetFramework="net45" />
  <package id="RingBuffer" version="1.5.1" targetFramework="net45" />
</packages>